@import "tailwindcss";

@theme static {
	--color-black: #000;
	--color-white: #fff;

	--color-whitegray: #ededed;

	--color-text: #071d16;
	--color-background: #fbfefd;
	--color-primary: #37d299;
	--color-secondary: #87c6e3;
	--color-accent: #599bd9;

	--color-night-text: #e2f8f1;
	--color-night-background: #010403;
	--color-night-primary: #2dc88f;
	--color-night-secondary: #1c5b78;
	--color-night-accent: #2668a6;
}

@layer base {
	.direction-left {
		unicode-bidi: bidi-override;
		direction: ltr;
	}
	.direction-right {
		unicode-bidi: bidi-override;
		direction: rtl;
	}

	.custom-scrollbar {
		scrollbar-width: thin;
		scroll-behavior: smooth;
		scrollbar-color: var(--color-primary) gray;
	}
	.custom-scrollbar-no-bg {
		scrollbar-width: thin;
		scroll-behavior: smooth;
		scrollbar-color: var(--color-primary) rgba(255, 255, 255, 0);
	}

	.stroke-black {
		-webkit-text-stroke: 2px hsla(0, 0%, 0%, 0.3);
	}
	.stroke-white {
		-webkit-text-stroke: 1px white;
	}
}
